.container {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: #2980b9;
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
}

.container2 {
    position: relative;
    top: 20px;
    left: 30px;

    background-color: #f39c12;
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
}

.definition {
    margin: 0 50px;
}