/* MAIN */
h2 {
    text-transform: uppercase;
}

.hero {
    background-image: url('../img/eiffel-tower.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 600px;
    text-align: center;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.button {
    background-color: #0a2b19;
    padding: 20px 60px;
    border-radius: 5px;
}

.button:hover {
    background-color: #145833;
}

.hero h3 {
    font-weight: normal;
    font-style: italic;
}

.section-1,
.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    min-height: 400px;
    text-align: center;
}