body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    text-transform: lowercase;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.p2 {
    text-align: right;
}