/* Je suis un commentaire CSS */
body {
    color: #333;
    font-size: 18px;
}

/* On peut selectionner les noms de balises HTML */
/* Consequences tous les elements de ce type seront modifiés */
h1 {
    background-color: #ffc0c7;
    color: #fff;
}

h2 {
    color: #4169E1;
}


/* On peut selectionner des balises spécifiques grâce aux class en utlisant le . */
/* Consequences tous les element qui ont cette class seront modifiés */
.subtitle-h2 {
    color: red;
}

.subtitle {
    color: #6c3483;
}

.section-2 {
    color: #229954;
}

.font-b {
    font-weight: bold;
}

/* On peut selectionner des balises spécifiques par selecteurs descendants */

.section1 h5 {
    color: #6c3483;
}

.section2 ul li {
    color: #6c3483;
}

/* Je peux selectionner plusieurs elements en les séparant par une virgule */
.item {
    font-style: italic;
}

/* On peut selectionner une balise unique par l'id en utilisant un # */
/* Consequence l'element qui a cet id sera modifié */
/* on préfère laisser les ID au Js sauf exception */
#ancre {
    /* font-size: 60px; */
}