body {}

h1 {
    width: 100px;
    text-align: center;
    margin: auto;
}

.container {
    width: 100px;
    /* Valeur par defaut : auto */
    height: 200px;
    padding: 20px;
    border: 1px solid black;
    background-color: orange;
}