* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

h1 {
    background-color: green;
    width: 50%;
}

.container {
    background-color: orange;
    /* valeur par defaut */
    display: block;
    /* Hauteur */
    height: 100px;
    /* Largeur */
    width: 200px;
    /* Marge */
    /* margin-top: ;
    margin-right: ;
    margin-bottom: ;
    margin-left: ; */
    margin: 100px;
    margin: 50px 200px;
    margin: 40px 30px 300px 50px;

    border: 2px solid black;
    border-radius: 10px;

    /* padding-top: ;
    padding-right: ;
    padding-bottom: ;
    padding-left: ; */
    padding: 20px;
    padding: 10px 20px;
    padding: 40px 30px 300px 50px;

}

.round {
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

