h2 {
    margin-bottom: 30px;
}

p {
    margin-top: 30px;
}

.hero-section {
    width: 90%;
    margin: 30px auto;
    padding: 50px 30px;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #999;
    background: url('../img/sea.jpg') center;
    background-size: cover;
    text-align: center;
}
