@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 36px;
}

h2 {
    text-transform: uppercase;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}