@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #333;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.up a {
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: #fff;
    color: #333;
    font-size: 12px;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 50%;
}

/* HEADER */
header {
    background-color: #0a2b19;
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
}

h1 {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: #fff;
    padding: 0 30px 0 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}


@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 20px;
        padding: 15px 0;
    }

    h1 {
        font-size: 26px;
    }

}

@media only screen and (max-width: 480px) {
    nav {
        flex-direction: column;
    }
}